extends ../normal_page

block page-content
  .row
    .col-12
      form(method='POST')
        table.table
          thead
              th First name
              th Surname
              th Email
              th Ticket
              th Association
              th Present
              th Admin
          tbody
            tr(style='height: 40px')
              td=user.firstname
              td=user.surname
              td=user.email
              td=user.ticket
              td=associations[user.association].name
              td
                input.form-check-input(type='checkbox', name='present', checked=user.present?'checked':undefined)
              td
                input.form-check-input(type='checkbox', name='admin', checked=user.admin?'checked':undefined)

        a.btn.btn-secondary(href='/users') Back
        button.btn.btn-primary(type='submit', style='float:right') Save
