extends ../normal_page


block page-content
  .mb-5
    h2 Sign in ticket
    form(method='POST', action='/aanmelden')
      .row
        .col-10
          input#ticketCode.form-control(type='text', name='ticket', placeholder='Ticket', autofocus)
        .col-2
          button.btn.btn-primary(type='submit') Sign in
  .mb-4
    h2 Manual search
    form.mb-3(method='GET')
      .row
        .col-2
          select#typeSelect.form-control
            option Email
            option(selected) First name
            option Last name
            option Association
            option Ticket
        .col-8#searchFieldsWrap
          input.form-control(type='text' name='email' placeholder='Email' style='display:none;')
          input.form-control(type='text' name='firstname' placeholder='First name')
          input.form-control(type='text' name='surname' placeholder='Last name' style='display:none;')
          select.form-control(name='association', style='display:none;')
            option(value='' disabled selected) Choose association
            each association, shortName in associations
              option(value=shortName)=association.name
          input.form-control(type='text', name='ticket', placeholder='Ticket', style='display:none;')
        .col-2
          button.btn.btn-primary(type='submit') Search
    table.table.table-striped.table-hover
      thead
        tr
          th First name
          th Last name
          th Email
          th Ticket
          th Association
          th Present
      tbody
        -var i = 1;
        for row in users
          tr.pointer(onclick="window.location='/users/" + row._id + "'")
            td=row.firstname
            td=row.surname
            td=row.email
            td=row.ticket
            if(associations[row.association])
              td=associations[row.association].name
            else
              td='Partner'
            td
              if row.present
                span.fa.fa-check.text-success
              else
                span.fa.fa-times.text-danger
  .mb-4
    h2 Export csv
    .row
      .col
        a.btn.btn-primary.m-1.w-100(href="/users/export-csv/all") Export all users
    .row
      .col
        for association, shortName in associations
            a.btn.btn-primary.m-1(href="/users/export-csv/" + shortName)= "Export " + association.name

block footer
  script.
    $('#typeSelect').change(function() {
      let choice = $(this).prop('selectedIndex');
      $('#searchFieldsWrap > *').hide();
      $('#searchFieldsWrap > *:nth-child(' + (choice + 1) + ')').show();
    });
    $('#typeSelect').change();

