extends ../normal_page


block page-content
  .mb-5
    h2 Sign in ticket
    form(method='POST', action='/aanmelden')
      .row
        .col-10
          input#ticketCode.form-control(type='text', name='ticket', placeholder='Ticket', autofocus)
        .col-2
          button.btn.btn-primary(type='submit') Sign in
  .mb-4
    h2 Manual search
    form.mb-3(method='GET')
      .row
        .col-2
          select#typeSelect.form-control
            option Email
            option(selected) First name
            option Last name
            option Association
            option Ticket
        .col-8#searchFieldsWrap
          input.form-control(type='email', name='email', placeholder='Email', style='display:none;')
          input.form-control(type='text', name='firstname', placeholder='Voornaam')
          input.form-control(type='text', name='surname', placeholder='Achternaam', style='display:none;')
          select(name='vereniging', style='display:none;')
            option(value='', disabled) Choose association
            each vereniging, shortName in verenigingen
              option(value=shortName)=vereniging.name
          input.form-control(type='text', name='ticket', placeholder='Ticket', style='display:none;')
        .col-2
          button.btn.btn-primary(type='submit') Search
    table.table.table-striped.table-hover
      thead
        tr
          th #
          th Voornaam
          th Achternaam
          th Email
          th Ticket
          th Vereniging
          th Aanwezig
      tbody
        -var i = 1;
        for row in users
          tr
            td
              a(href="/users/" + row._id)= i
              - i++;
            td=row.firstname
            td=row.surname
            td=row.email
            td=row.ticket
            if(verenigingen[row.vereniging])
              td=verenigingen[row.vereniging].name
            else
              td='Partner'
            td
              if row.aanwezig
                span.fa.fa-check(style='color:#79bf46;')
              else
                span.fa.fa-close(style='color:#bf464c;')

block footer
  script.
    $('#typeSelect').change(function() {
      let choice = $(this).selectedIndex;
      $('#searchFieldsWrap > *').hide();
      $('#searchFieldsWrap > *:nth-child(' + (choice + 1) + ')').show();
    });
    $('#typeSelect').change();

