extends layout
append extrajs
  script(src='/js/timetable.js')

block header
  header#mobilit.snap.position-relative.glitch1(style='height: 90vh;')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='3', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 25%; left: 20%; top: 1%')
    .brown.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1.5%; width: 10%; right: 14%; top: 8%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 4%; width: 18%; left: 0; top: 18%')
    .brown.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1.5%; width: 20%; left: 10%; top: 19.25%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='2.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 4%; width: 10%; right: -5%; top: 16%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-2.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2.5%; width: 10%; left: 45%; top: 18%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 9%; right: 16%; top: 71.5%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='2.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 4%; width: 8%; left: 25%; top: 75.5%')
    .brown.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1.5%; width: 12%; left: 5%; top: 76.75%')
    .brown.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1.5%; width: 18%; right: -8%; top: 77%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 4%; width: 14%; left: 16%; top: 92%')
    .brown.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1.5%; width: 16%; left: 12%; top: 93.25%')
    .white.bar.position-absolute.rellax.d-none.d-sm-block(data-rellax-horizontal-speed='-4', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1.5%; width: 14%; right: 16%; top: 95%')
    .brown.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 25%; left: -5%; bottom: 8%')
    .white.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='3', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 35%; right: 10%; bottom: 3.5%')
    .white.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: 25%; bottom: 31%')
    .white.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='1.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; right: 10%; bottom: 35%')
    .brown.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: 10%; bottom: 36%')
    .white.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 30%; left: 10%; top: 28%')
    .brown.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 30%; right: -10%; top: 20%')
    .white.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; left: 20%; top: 4%')
    .brown.bar.position-absolute.rellax.d-sm-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: 30%; top: 5%')
    .position-relative.container-fluid.d-flex.flex-column.align-items-stretch.justify-content-around(style='height: 100%;')
      .text-center.mt-4
        h2
          time(datetime='2021-11-23') Tuesday 23 November
      figure.logo.container.m-5.align-self-center
        svg#Laag_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 800 182', xml:space='preserve')
          style(type='text/css').
            .st0 {
              fill: #FFFFFF;
            }

            .st1 {
              fill: #D7A45F;
            }
          g#LOGO
            g#MOBILIT
              polygon.st0(points='225.4,66.5 176.4,66.5 170.9,75.7 165.3,66.5 116.3,66.5 116.3,88.8 225.4,88.8')
              polygon.st0(points='150.1,41.3 116.3,41.3 116.3,63.7 163.6,63.7')
              polygon.st0(points='225.4,41.3 191.6,41.3 178.1,63.7 225.4,63.7')
              path.st0(d='M332.4,139h53.7c21.9,0,34.4-9.2,36.8-22.4h-90.5V139z')
              path.st0(d='M386.1,41.3h-53.7v22.4h90.5C420.5,50.5,408.1,41.3,386.1,41.3')
              path.st0(d='M407.5,88.8c9.6-3.7,15.5-10,15.5-21.3v-0.3c0-0.3,0-0.5,0-0.7H234.4c-3.8,6.9-6,14.5-6.2,22.4L407.5,88.8L407.5,88.8z')
              rect.st0(x='425.7', y='41.3', width='32.4', height='22.4')
              rect.st0(x='332.4', y='91.6', width='125.7', height='22.4')
              rect.st0(x='425.7', y='116.7', width='32.4', height='22.4')
              rect.st1(x='541.7', y='66.5', width='32.4', height='22.4')
              rect.st1(x='541.7', y='91.6', width='32.4', height='22.4')
              rect.st1(x='541.7', y='116.7', width='32.4', height='22.4')
              rect.st1(x='541.7', y='41.3', width='124.6', height='22.4')
              rect.st1(x='605.4', y='66.5', width='32.4', height='22.4')
              rect.st1(x='605.4', y='91.6', width='32.4', height='22.4')
              rect.st1(x='605.4', y='116.7', width='32.4', height='22.4')
              rect.st0(x='460.9', y='41.3', width='32.4', height='22.4')
              rect.st0(x='425.7', y='66.5', width='67.6', height='22.4')
              rect.st0(x='460.9', y='91.6', width='32.4', height='22.4')
              rect.st0(x='460.9', y='116.7', width='78', height='22.4')
              path.st0(d='M279.1,41.3c-18.3,0-34,8.8-42.9,22.4h85.8C313,50.1,297.5,41.3,279.1,41.3')
              path.st0(d='M278.8,139c18.3,0,34-8.8,42.9-22.4H236C244.8,130.2,260.4,139,278.8,139')
              path.st0(d='M78.8,91.6V114h244.6c3.8-6.9,6-14.5,6.2-22.4C329.6,91.6,78.8,91.6,78.8,91.6z')
              rect.st0(x='172.3', y='116.7', width='53.2', height='22.4')
              rect.st0(x='116.3', y='116.7', width='53.2', height='22.4')
            g#SUBTITLE
              g#SNIC
                path.st0(d='M129,165.8c-0.9-2.1-2.3-3.2-4.3-3.2c-2.3,0-3.8,1.3-3.8,3.3c-0.1,0.9,0.4,1.8,1.2,2.2\
                      c1.2,0.6,2.5,1.1,3.8,1.3c1.3,0.3,2.4,0.7,3.5,1.3c1.7,0.9,2.5,2.1,2.6,4.3c0,4.5-2.8,6.8-7.1,6.8c-4.1,0-7.1-2.2-7.9-6.3l2.5-1\
                      c0.8,3.1,2.7,4.7,5.4,4.7s4.4-1.3,4.4-3.8c0-0.7-0.3-1.4-0.8-2c-0.3-0.3-0.6-0.4-1-0.5c-1-0.4-2-0.7-3-1\
                      c-1.2-0.3-2.3-0.6-3.4-1.2c-1.7-0.9-2.6-2.2-2.7-4.7c-0.1-1.6,0.5-3.1,1.7-4.3c1.3-1.2,3-1.8,4.7-1.7c2.9-0.1,5.6,1.8,6.6,4.6\
                      L129,165.8z')
                path.st0(d='M149.9,160.4h2.7v21.3h-2.9l-8.9-16.4v16.4h-2.7v-21.3h2.9l8.9,16.4V160.4z')
                path.st0(d='M172.8,181.6h-12.9v-2.3h5.1v-16.6h-5.1v-2.3h12.9v2.3h-5.2v16.6h5.2V181.6z')
                path.st0(d='M195.8,175.4c-1,3.9-3.7,6.4-7.6,6.4c-2.4,0.1-4.7-1-6.3-2.8c-1.6-1.9-2.5-4.6-2.5-8s0.8-6.3,2.5-8\
                      c1.6-1.8,3.9-2.9,6.3-2.8c3.9,0,6.6,2.6,7.6,6.4l-2.5,0.8c-1-3.1-2.5-4.6-5.1-4.6c-3.8,0-6,2.7-6,8.3c0,5.6,2.2,8.3,6,8.3\
                      c2.7,0,4.1-1.5,5.1-4.6L195.8,175.4z')
              g#YEAR
                path.st1(d='M203.9,181.8v-1.3l8.7-10.8c1.4-1.8,1.8-2.8,1.8-4.2c0-0.9-0.3-1.8-0.8-2.6c-0.7-0.8-1.7-1.2-2.7-1.1\
                      c-2.1,0-3.6,1.6-3.9,4.1l-2.7-0.5c0.1-1.7,0.9-3.2,2.2-4.4c1.2-1.1,2.8-1.8,4.5-1.8c1.8-0.1,3.6,0.6,4.9,2c1,1.2,1.5,2.7,1.4,4.2\
                      c0,1.8-0.7,3.5-1.8,4.9l-7.1,8.9h9.3v2.6H203.9z')
                path.st1(d='M232,181.9c-2.4,0.1-4.7-1.1-5.9-3.1c-1.4-2.1-2.1-4.9-2.1-8.3s0.7-6.2,2.1-8.2c2.4-3.3,6.9-4.1,10.2-1.7\
                      c0.6,0.5,1.2,1,1.7,1.7c1.6,2.5,2.3,5.3,2.2,8.2c0.1,2.9-0.6,5.8-2.2,8.3C236.7,180.9,234.4,182,232,181.9z M227.9,176.6\
                      l6.5-14.1c-0.7-0.5-1.6-0.7-2.5-0.7c-3.4,0-5.3,3.4-5.3,8.8C226.7,172.7,227.1,174.7,227.9,176.6z M237.4,170.6\
                      c0.1-2.1-0.3-4.2-1.2-6l-6.5,14.1c0.7,0.5,1.6,0.7,2.5,0.7C235.4,179.4,237.4,176,237.4,170.6z')
                path.st1(d='M248.2,181.7v-1.3l8.7-10.8c1.4-1.8,1.8-2.8,1.8-4.2c0-0.9-0.3-1.8-0.8-2.6c-0.7-0.8-1.7-1.2-2.7-1.1\
                      c-2.1,0-3.6,1.6-3.9,4.1l-2.7-0.5c0.3-3.4,3.2-6,6.5-6c1.8-0.1,3.6,0.6,4.9,2c1,1.2,1.5,2.7,1.4,4.2c0,1.8-0.6,3.5-1.8,4.9\
                      l-7.1,8.9h9.3v2.6L248.2,181.7z')
                path.st1(d='M276.3,181.9c-2.4,0.1-4.7-1.1-5.9-3.1c-1.5-2.5-2.3-5.3-2.1-8.3c0-3.5,0.7-6.2,2.1-8.2\
                      c1.3-2,3.6-3.2,5.9-3.1c2.4-0.1,4.7,1.1,5.9,3.1c1.6,2.5,2.3,5.3,2.2,8.2c0.1,2.9-0.6,5.8-2.2,8.3\
                      C281,180.9,278.7,182,276.3,181.9z M272.2,176.6l6.5-14.1c-0.7-0.5-1.6-0.7-2.5-0.7c-3.4,0-5.3,3.4-5.3,8.8\
                      C271,172.7,271.4,174.7,272.2,176.6z M281.7,170.6c0.1-2.1-0.3-4.2-1.2-6l-6.5,14.1c0.7,0.5,1.6,0.7,2.5,0.7\
                      C279.8,179.4,281.7,176,281.7,170.6L281.7,170.6z')
                path.st1(d='M302.3,159.1h2.5L293.2,182h-2.4L302.3,159.1z')
                path.st1(d='M310,181.7v-1.3l8.6-10.7c1.4-1.8,1.8-2.7,1.8-4.1c0-0.9-0.3-1.8-0.8-2.5c-0.7-0.8-1.7-1.2-2.6-1.1\
                      c-2.1,0-3.5,1.6-3.8,4l-2.6-0.5c0.1-1.7,0.9-3.1,2.2-4.3c1.2-1.1,2.7-1.8,4.4-1.8c1.8-0.1,3.5,0.6,4.8,2c1,1.2,1.5,2.6,1.4,4.1\
                      c0,1.8-0.7,3.4-1.8,4.8l-7.1,8.8h9.2v2.5H310z')
                path.st1(d='M337.9,181.8c-2.4,0.1-4.6-1.1-5.9-3c-1.4-2.1-2.1-4.8-2.1-8.2s0.7-6.2,2.1-8.1c2.4-3.2,6.9-4,10.1-1.7\
                      c0.6,0.5,1.2,1,1.7,1.7c1.4,2,2.2,4.7,2.2,8.1c0.1,2.8-0.6,5.8-2.2,8.2C342.5,180.8,340.2,181.9,337.9,181.8z M333.8,176.6\
                      l6.5-13.9c-0.7-0.5-1.6-0.7-2.5-0.7c-3.3,0-5.3,3.3-5.3,8.7C332.6,172.6,333,174.7,333.8,176.6z M343.2,170.6\
                      c0.1-2.1-0.3-4.1-1.2-6l-6.5,13.9c0.7,0.5,1.6,0.7,2.5,0.7C341.2,179.3,343.2,176,343.2,170.6L343.2,170.6z')
                path.st1(d='M353.9,181.7v-1.3l8.6-10.7c1.4-1.8,1.8-2.7,1.8-4.1c0-0.9-0.3-1.8-0.8-2.5c-0.7-0.8-1.7-1.2-2.6-1.1\
                      c-2.1,0-3.5,1.6-3.8,4l-2.6-0.5c0.1-1.7,0.9-3.1,2.2-4.3c1.2-1.1,2.7-1.8,4.4-1.8c1.8-0.1,3.5,0.6,4.8,2c1,1.2,1.5,2.6,1.4,4.1\
                      c0,1.8-0.6,3.4-1.8,4.8l-7.1,8.8h9.2v2.5H353.9z')
                path.st1(d='M383,159.6h1v19.5h5.7v2.4h-13.9v-2.4h5.6v-15.5l-5.5,3.2V164L383,159.6z')
            g#BLOCKS
              rect.st0(x='461', width='91.5', height='22.1')
              rect.st0(x='410.2', y='159.7', width='80.4', height='21.9')
              rect.st0(x='686.1', y='116.9', width='114', height='22.1')
              rect.st0(y='92.1', width='22.1', height='22.1')
            g#BARS
              rect.rellax.st1(data-rellax-horizontal-speed='1', data-rellax-vertical-scroll-axis='x', x='202.2', y='74', width='114.8', height='8.4')
              rect.rellax.st1(data-rellax-horizontal-speed='-0.5', data-rellax-vertical-scroll-axis='x', x='287.9', y='6.9', width='114.8', height='8.4')
              rect.rellax.st1(data-rellax-horizontal-speed='-0.5', data-rellax-vertical-scroll-axis='x', x='410.1', y='99', width='114.8', height='8.4')
              rect.rellax.st1(data-rellax-horizontal-speed='-1', data-rellax-vertical-scroll-axis='x', x='564.1', y='154.9', width='114.8', height='8.4')
              rect.rellax.st1(data-rellax-horizontal-speed='2', data-rellax-vertical-scroll-axis='x', x='32.3', y='123.8', width='114.8', height='8.4')
              rect.rellax.st0(data-rellax-horizontal-speed='1.5', data-rellax-vertical-scroll-axis='x', x='613.8', y='74', width='114.8', height='8.4')
      .text-center.mb-4
        if user
          button.btn.btn-primary.btn-lg.m-1(type='button', data-bs-toggle="offcanvas" data-bs-target="#profile" aria-controls="profile")
            i.fas.fa-user.me-2
            | Profile
          button.btn.btn-primary.btn-lg.m-1(type='button', data-bs-toggle='offcanvas', data-bs-target='#timetable' aria-controls="timetable")
            i.fas.fa-calendar-alt.me-2
            | Timetable
          if eventToday
            a.btn.btn-primary.btn-lg.m-1(href='/ticket')
              i.fas.fa-ticket-alt.me-2
              | Your ticket
        else
          if ticketSalePossible
            button.btn.btn-primary.btn-lg.m-1(type='button', data-bs-toggle='modal', data-bs-target='#registration-modal')
              i.fas.fa-ticket-alt.me-2
              | Activate your ticket
            a.btn.btn-primary.btn-lg.m-1(href='/login')
              i.fas.fa-user.me-2
              | Login

  .banner
    each content, name in partners.partners
      img(alt=name src=content.image)

block sidebar
  aside#sidebar.offcanvas.offcanvas-end.blue(tabindex='-1', aria-labelledby='sidebar')
    button.btn-close.btn-close-white.text-reset.position-absolute.top-0.end-0.m-3(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
    nav#navbar.nav.nav-pills.flex-column.align-items-stretch.p-3
      a.nav-link.navbar-brand.m-4(href='#mobilit')
        img(alt='MobilIT', src='img/MobilIT-small.svg')
      a.nav-link(href='#theme') Theme
      a.nav-link(href='#speakers') Speakers
      a.nav-link(href='#location') Location
      a.nav-link(href='#corona') Corona
      a.nav-link(href='#partners') Partners
      a.nav-link(href='#about') About SNiC
    nav#navbar2.nav.nav-pills.flex-column.align-items-stretch.p-3
      if user
        a.nav-link.mt-5(data-bs-toggle="offcanvas" data-bs-target="#profile" aria-controls="profile" style="cursor: pointer") Profile
        a.nav-link(data-bs-toggle="offcanvas" data-bs-target="#timetable" style="cursor: pointer") Timetable
        if user.admin
          a.nav-link.mt-5(href='/users') Scan tickets
          a.nav-link(href='/choices') Session choices
          a.nav-link(href='/diet') Diets
          a.nav-link(href='/tickets') New tickets
          a.nav-link.mt-3(href='/reload/timetable') Reload timetable
        a.nav-link.mt-5(href='/logout') Logout
      else
        a.nav-link.mt-3(data-bs-toggle="offcanvas" data-bs-target="#timetable" style="cursor: pointer") Timetable
        if ticketSalePossible
          a.nav-link(data-bs-toggle="modal" data-bs-target="#registration-modal" style="cursor: pointer") Activate tickets
        a.nav-link.mt-5(href='/login') Login

block content
  section#theme.snap.py-5.blue.d-flex.align-items-center.position-relative.fullscreen
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; left: -5%; top: 3%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; right: 3%; top: 3%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: 0; top: 4%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 30%; right: 18%; bottom: 4%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 45%; left: -20%; bottom: 11%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 15%; left: 25%; top: 18%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 10%; right: 2%; bottom: 15%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; left: 8%; bottom: 40%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 10%; left: 30%; bottom: 22%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 15%; left: 15%; top: 28%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 15%; left: 4%; top: 43%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 15%; right: 14%; top: 16%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: 10%; top: 3%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 50%; left: 30%; top: 6%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: 10%; bottom: 2%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: 30%; bottom: 4.5%')
    .container
      .row.d-flex.align-items-center.justify-content-center
        .col-12.col-md-6
          #theme-carousel.carousel.slide.my-5.mx-md-3(data-bs-ride='carousel')
            .carousel-inner.ratio.ratio-4x3
              .carousel-item.active
                img.d-block.h-100.w-100(src='img/organizing.jpg', alt='...')
              .carousel-item
                img.d-block.h-100.w-100(src='img/regaining.jpg', alt='...')
              .carousel-item
                img.d-block.h-100.w-100(src='img/vechicular.jpg', alt='...')
            button.carousel-control-prev(type='button', data-bs-target='#theme-carousel', data-bs-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.visually-hidden Previous
            button.carousel-control-next(type='button', data-bs-target='#theme-carousel', data-bs-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.visually-hidden Next
        article.col-12.col-md-6
          h2 Theme
          p
            | The focus of this edition of SNiC will be on the IT of mobility. For the past years there have been major leaps
            | forward in the use of computers and AI in vehicles - think self driving cars, the optimisation of fuel usage in
            | aeroplanes, or apps that perform diagnostics on the engine of your motorcycle. But MobilIT can be extended to
            | much more than that: we can analyse the organisation of public transportation, or take a closer look at the
            | latest innovations in bionics and cybernetics - tech that will open up a future of mobility for everyone.
          p
            | During SNiC 2020/2021 we will approach the future of mobility from a wide variety of angles: security is
            | essential for high-tech transportation in an age of self driving cars and cyber-warfare; theoretical computing
            | science is the core discipline behind route optimisation algorithms; Artificial limbs are almost completely
            | computer driven; and of course Artificial Intelligence will play a starring role.
  section#speakers.snap.py-5.brown.glitch2.d-flex.align-items-center.position-relative.fullscreen
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; right: -5%; top: 3%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; left: 3%; top: 3%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: 0; top: 4%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 30%; left: 18%; bottom: 4%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 45%; right: -20%; bottom: 11%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 10%; left: 2%; bottom: 12.5%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; right: 8%; bottom: 40%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 10%; right: 30%; bottom: 19%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 15%; right: 15%; top: 28%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 15%; right: 4%; top: 43%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 20%; left: 30%; top: 14%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 10%; left: 7%; top: 14%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 25%; left: 30%; top: 22.5%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 30%; left: 15%; bottom: 25%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 25%; left: -5%; bottom: 45%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 25%; left: 30%; top: 38%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 15%; left: 35%; bottom: 38%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 15%; left: 15%; bottom: 18%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 3%; width: 20%; right: -15%; top: 18%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 15%; right: 25%; top: 19%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: -25%; top: 2.5%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: 10%; top: 10%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 50%; right: 30%; top: 15%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: 10%; bottom: 2%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: 30%; bottom: 4.5%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: -10%; top: 25%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: -40%; top: 45%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: -55%; top: 35%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; left: -40%; bottom: 45%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 40%; right: -40%; bottom: 15%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 50%; left: 0; bottom: 32%')
    .container
      .row.d-flex.align-items-center.justify-content-center
        article.col-12.col-md-6
          .block.blue.p-5
            h2 Speakers
            p
              | Our current society is a highly mobile one. MobilIT takes a look at how IT makes this society possible.
              | Our speakers range from scientists to entrepreneurs that will all give a talk about how they facilitate
              | or make use of this highly connected society.
            p
              | Aside from two keynote speakers there are three tracks that all focus on their own area of mobility.
              | Organising mobility will focus on the logistics of a highly mobile society, Regaining mobility focuses
              | on how IT can help people to stay mobile and finally Vehicular mobility is about the role of vehicles
              | in our society.
            p
              | From these three tracks you can choose your own personal schedule to make this day your own from the
              | 1st of November.
            button#timetable-button.btn.btn-primary(type='button', data-bs-toggle='offcanvas', data-bs-target='#timetable') Check out the timetable
        .col-12.col-md-6
          #speakers-carousel.carousel.slide.my-md-5.mx-md-3(data-bs-ride='carousel')
            .carousel-inner.ratio.ratio-4x3
              .carousel-item
                img.d-block.h-100.w-100(src='img/location/rabobank.jpg', alt='...')
              .carousel-item.active
                img.d-block.h-100.w-100(src='img/resilit.jpg', alt='...')
              .carousel-item
                img.d-block.h-100.w-100(src='img/city-highway.jpg', alt='...')
              .carousel-item
                img.d-block.h-100.w-100(src='img/location/foyer.jpg', alt='...')
            button.carousel-control-prev(type='button', data-bs-target='#speakers-carousel', data-bs-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.visually-hidden Previous
            button.carousel-control-next(type='button', data-bs-target='#speakers-carousel', data-bs-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.visually-hidden Next
  section#location.py-5.snap.blue.d-flex.align-items-center.position-relative(style='min-height: 50vh')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; left: 0; top: 5%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 30%; left: 18%; bottom: 4%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 45%; right: -20%; bottom: 10%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: 15%; top: 18%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 4%; width: 10%; left: 2%; bottom: 15%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 20%; right: 8%; bottom: 40%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 10%; right: 40%; bottom: 22%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: 25%; top: 28%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: -5%; top: 43%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: 14%; top: 16%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: -5%; top: 43%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: 25%; bottom: 45%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: 45%; top: 40%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; right: 10%; top: 4%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 50%; right: 30%; top: 15%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 30%; left: -80%; top: 25%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 30%; left: 100%; top: 45%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; right: 10%; bottom: 4%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; right: 100%; bottom: 15%')
    .white.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; right: -100%; bottom: 35%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 25%; left: -20%; bottom: 14%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 50%; right: -100%; top: 35%')
    .block.col-12.col-md-6.h-100.start-0.position-absolute
    .container
      .row.d-flex.align-items-center.justify-content-center
        article.col-12.col-md-6.pe-md-5
          h2 Location
          p
            | This year we have the pleasure of hosting our event at Orpheus Apeldoorn. Orpheus has 3 beautiful halls
            | where our speakers will give their talks. Their massive foyer has enough room for all the interesting
            | stands our sponsors will facilitate. Furthermore, it is located in the middle of the Netherlands to make
            | sure no single study association has a long travel time.
        .col-12.col-md-6
  section#corona.py-5.snap.white.d-flex.align-items-center.position-relative(style='min-height: 50vh')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; right: 0; top: 6%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 30%; right: 18%; bottom: 4%; z-index: -2')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 25%; left: -20%; bottom: 10%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: 15%; top: 18%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 10%; right: 2%; bottom: 15%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 20%; left: 8%; bottom: 40%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 10%; left: 40%; bottom: 22%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: 25%; top: 28%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: -5%; top: 43%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: 14%; top: 16%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: 25%; bottom: 45%')
    .blue.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: 45%; top: 40%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; left: 10%; top: 4%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 50%; left: 30%; top: 15%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 30%; right: -80%; top: 25%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 30%; right: 100%; top: 45%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; left: 10%; bottom: 4%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; left: 100%; bottom: 15%')
    .blue.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 40%; left: -100%; bottom: 35%')
    .brown.bar.position-absolute.rellax.d-md-none(data-rellax-horizontal-speed='-1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 50%; left: -100%; top: 35%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; right: -5%; top: 42%')
    #corona-speaker.block.col-12.col-md-6.h-100.start-0.position-absolute(style='z-index: -1')
    .h-100.position-absolute.block-white.end-0.col-12.col-md-6(style='z-index: 2')
    .container
      .row.d-flex.align-items-center.justify-content-center
        .col-12.col-md-6
        article.col-12.col-md-6.ps-md-5.p-md-0
          h2 Corona
          p
            | Our conference has sadly been plagued by the corona virus. Last year we had to cancel the 2020 edition,
            | because the corona measures simply did not allow a physical congress in any form.
          p
            strong This year we are more optimistic!
          p
            | According to the current dutch regulations a normal conference is entirely possible! This means no 1,5m
            | distance or face masks. The only measure we do need to employ is the corona QR codes. Everyone coming to
            | MobilIT should have a valid QR code in the ‘CoronaCheck’ app. This means being vaccinated, having a
            | recovery certificate or joining with ‘Testen voor Toegang’. Please make sure that you have a QR code and
            | we can have an amazing Covid free conference!
  section#quote.py-5.snap.glitch3.brown.d-flex.align-items-center.position-relative(style='min-height: 20vh')
    .container
      .text-center
        figure.m-0
          blockquote.blockquote
            p I think it’s possible for ordinary people to choose to be extraordinary
          figcaption.blockquote-footer
            | Elon Musk
            cite(title='in an Interview with the Henry Ford') in an Interview with the Henry Ford
  section#partners.fullscreen.py-5.snap.white.d-flex.align-items-center.position-relative
    .container.block-white
      article.text-center
        h1.mt-3 Partners
        #gold-partners1.card-group.my-5
          each id in partners.goldp
            .card(data-bs-toggle='modal', data-bs-target='#' + id + '-partner-modal', style='cursor: pointer')
              img.card-img-top.p-4(src=partners.partners[id].image, alt='image for ' + id, height='200px')
              .card-body
                h5.card-title= partners.partners[id].title
                p.card-text !{partners.partners[id].description}
              .card-footer
                button.btn.btn-primary.m-1(type='button')
                  i.fas.fa-user-alt.me-2
                  | About
                a.btn.btn-primary.m-1(target="_blank" href=partners.partners[id].website)
                  i.fas.fa-globe.me-2
                  | Website
        #gold-partners2.card-group.my-5
          each id in partners.gold
            .card(data-bs-toggle='modal', data-bs-target='#' + id + '-partner-modal', style='cursor: pointer')
              img.card-img-top.p-4(src=partners.partners[id].image, alt='image for ' + id, height='200px')
              .card-body
                h5.card-title= partners.partners[id].title
                p.card-text !{partners.partners[id].description}
              .card-footer
                button.btn.btn-primary.m-1(type='button')
                  i.fas.fa-info.me-2
                  | About
                a.btn.btn-primary.m-1(target="_blank" href=partners.partners[id].website)
                  i.fas.fa-globe.me-2
                  | Website
        hr
        #silver-partners.card-group.my-5
          each id in partners.silver
            .card(data-bs-toggle='modal', data-bs-target='#' + id + '-partner-modal', style='cursor: pointer')
              img.card-img-top.p-4(src=partners.partners[id].image, alt='image for ' + id, height='200px')
              .card-footer
                button.btn.btn-primary.m-1(type='button')
                  i.fas.fa-info.me-2
                  | About
                a.btn.btn-primary.m-1(target="_blank" href=partners.partners[id].website)
                  i.fas.fa-globe.me-2
                  | Website
        hr
        #bronze-partners.card-group.my-5
          each id in partners.bronze
            .card.card-no-pointer(data-bs-toggle='modal', data-bs-target='#' + id + '-partner-modal', style='cursor: pointer')
              img.card-img-top.p-4(src=partners.partners[id].image, alt='image for ' + id, height='80px')
  section#about.py-5.snap.glitch4.brown.d-flex.align-items-center.position-relative(style='min-height: 85vh')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='2', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 25%; right: -10%; top: 3%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 25%; left: -30%; top: 6%')
    .brown.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='-0.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 2%; width: 15%; left: -5%; bottom: 8%')
    .white.bar.position-absolute.rellax.d-none.d-md-block(data-rellax-horizontal-speed='1.5', data-rellax-horizontal-percentage='0.5', data-rellax-vertical-scroll-axis='x', style='height: 1%; width: 25%; right: -20%; bottom: 4%')
    .container
      h2 About SNiC
      article.row
        .col-12.col-md-6
          p
            | SNiC, Stichting Nationaal informatica Congres (which can be translated as the Foundation National Informatics
            | Congress), was established in December 2004. 9 study associations from 7 cities in the Netherlands are
            | affiliated. The aim of the foundation is to stimulate interest in knowledge of information and communication
            | technology, and to promote contact between students and the business world.
          p
            | Every year one of the associations of the foundation organizes a congress with an IT related subject. On
            time(datetime='2021-11-23') November 23rd in 2021
            | , the congress will be organized by two study associations from the Radboud University in
            | Nijmegen. These associations are Thalia (the study association for Computer Science and Information Science
            | students) and CognAC (the study association for Artificial Intelligence students).
          p
            | Visitors are enthusiastic Computer Science and Artificial Intelligence bachelor and master students from all
            | over the country. Over the past years the congress has grown considerably. Where in 2017 the congress was
            | visited by 450 students, we expect around 700 visitors in 2021.
        .col-12.col-md-6
          p
            | Various talks will be held at the congress by speakers from both the business world and the academic world.
            | The students are challenged to dive into a specific topic from different perspectives. We want to inspire them
            | and invite them to think further than their current views.
          p
            | In addition, it is the chance for students to speak with many companies during the breaks and the drinks at
            | the company fair, to connect with potential employers or to find a thesis or internship spot.
          br
          .block-white.white.p-3
            h3 Contact
            p
              | Toernooiveld 212, M1.0.08
              br
              | 6525 EC Nijmegen
              br
              | The Netherlands
              br
              a(href='mailto:committee@2020.snic.nl') committee@2020.snic.nl
              br
              a.btn.btn-primary.mt-1(href='mailto:committee@2020.snic.nl') Contact us
  footer.blue.snap-end.d-flex.align-items-center.position-relative(style='min-height: 15vh')
    .container.p-4
      .row.align-items-center
        small.col-4.text-start
          | &copy; 2021 Copyright:
          br
          a.text-reset(href='https://stichting.snic.nl/', target='_blank') Stichting Nationaal informatica Congres
          br
          small
            a.text-reset(href='/Privacy_Policy.pdf', target='_blank') Privacy statement
        .col-4.text-center
          img(src='img/icon-white.svg', alt='mobilit', height='75px')
        .col-4.text-end.lead
          a.text-reset(href='https://www.instagram.com/snic_mobilit/', target='_blank')
            i.fab.fa-instagram
          |  &bull; 
          a.text-reset(href='https://www.facebook.com/events/3550045645007435', target='_blank')
            i.fab.fa-facebook
          |  &bull; 
          a.text-reset(href='https://github.com/snic_foundation/', target='_blank')
            i.fab.fa-github

block outside-flow
  if user
    section#profile.offcanvas.offcanvas-end.h-100.white(tabindex='-1', aria-labelledby='profile', style='overflow-y: scroll')
      button.btn-close.btn-close-black.text-reset.position-absolute.top-0.end-0.m-3(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
      article.p-5
        .container
          include profile
  else
    section#registration-modal.modal(tabindex='-1', aria-labelledby='registration-button', aria-hidden='true')
      .modal-dialog.modal-dialog-scrollable.modal-xl
        .modal-content.glitch2
          .modal-body.block-white
            .container-fluid
              button.btn-close.position-absolute.top-0.end-0.m-4(type='button', data-bs-dismiss='modal', aria-label='Close')
              article.d-flex.align-items-center.justify-content-center.pb-4
                include register
  section#timetable.timetable.offcanvas.offcanvas-top.h-100.glitch3(tabindex='-1', aria-labelledby='timetable', style='overflow-y: scroll')
    .container.block-white
      button.btn-close.position-absolute.top-0.end-0.m-4(type='button', data-bs-dismiss='offcanvas', aria-label='Close')
      article.text-center.timetable.p-3
        include  timetable
  include timetable-modals
  // partner modals
  each content, name in partners.partners
    if content.text
      section.modal(id=name + '-partner-modal' tabindex='-1', aria-labelledby=name + '-partner-button', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-body.p-5
              .container-fluid
                button.btn-close.position-absolute.top-0.end-0.m-4(type='button', data-bs-dismiss='modal', aria-label='Close')
                if content.header_image
                  img.img-fluid.mb-4(src=content.header_image alt="banner for company")
                else
                  img.img-fluid.mb-4(src=content.image alt="logo for company")
                article
                  if content.logged_in && user
                    each par in content.logged_in
                      p!= par
                  each par in content.text
                    p!= par

block footer
  script(type="text/javascript").
    $(document).ready(function () {
      if ($(location).attr('hash') === "#timetable") {
        bootstrap.Offcanvas.getOrCreateInstance(document.getElementById('timetable')).show();
      } else if ($(location).attr('hash') === "#registration-modal") {
        bootstrap.Modal.getOrCreateInstance(document.getElementById('registration-modal')).show();
      } else if ($(location).attr('hash') === "#profile") {
        bootstrap.Offcanvas.getOrCreateInstance(document.getElementById('profile')).show();
      }
    });
