extends normal_page

mixin dropdown(speaker, user, session, visitorCounts)
  - var description = (!speaker.company || speaker.company === '') ? '' : ' (' + speaker.company + ') '
  - description = description + ' - ' + speaker.subject.replace(" \</br\>", ":")
  - var remaining = speaker.limit - visitorCounts.filter(candidate => speaker.id == candidate.id)[0].count
  if remaining > 0 || user[session] == speakerid
    if remaining < 25
      - description = description + ' (' + remaining + ' seats left)'
    option(value=speaker.id, selected=user[session] == speaker.id ? 'selected' : undefine)= speaker.name.replace("</br>", "&") + description
  else
    - description = description + ' (FULL)'
    option(disabled value=speaker.id, selected=user[session] == speaker.id ? 'selected' : undefine)= speaker.name.replace("</br>", "&") + description


mixin fixedEnrollment(session, sessionids, selectedSpeakerId)
  each speakerid in sessionids
    if speakerid === selectedSpeakerId
      - var speaker = speakers.filter(function(doc){return doc.id == speakerid})[0]
      - var description = (!speaker.company || speaker.company === '') ? '' : ' (' + speaker.company + ') -'
      - description = description + speaker.subject.replace(" \</br\>", ":")
      li #{session}:
        b #{'  ' + description}

block page-content
  .mb-5
    h2= ucfirst(user.firstname) + ' ' + user.surname +' ('+ associations[user.vereniging].name +')'

  form#settings(method='post')
    .mb-4
      h4 Tickets
      p
        | Download your ticket #[a(href='/ticket', target='_blank') here].
        br
        | Please bring it along to the conference on your phone or in print.

    .mb-4
      h4 Sessions
      if user.type === 'partner'
        .mb-3
          p Partners don't have to enroll for sessions, but you are welcome to join in if there are seats left.
      else
        if providePreferences
          if Date.now() < new Date(provideTrackPreferencesEnd).getTime()
            .mb-3
              p
                | You can select your preference for the parallel sessions here
            .mb-3.mx-5
              select.form-control(name='session1')
                option(value='', selected=!user.session1?'selected':undefined, disabled) Select preference first parallel session
                each val in speakerids.session1
                  - var speaker = speakers.filter(function(doc){return doc.id === val})[0]
                  +dropdown(speaker, user, 'session1', visitorCounts)

            .mb-3.mx-5
              select.form-control(name='session2')
                option(value='', selected=!user.session2 ? 'selected': undefined, disabled) Select preference second parallel session
                each val in speakerids.session2
                  - var speaker = speakers.filter(function(doc){return doc.id === val})[0]
                  +dropdown(speaker, user, 'session2', visitorCounts)

            .mb-3.mx-5
              select.form-control(name='session3')
                option(value='', selected=!user.session3 ? 'selected': undefined, disabled) Select preference third parallel session
                each val in speakerids.session3
                  - var speaker = speakers.filter(function(doc){return doc.id === val})[0]
                  +dropdown(speaker, user, 'session3', visitorCounts)

          else
            if (user.session1 !== undefined && user.session1 !== '') || (user.session2 !== undefined && user.session2 !== '') || (user.session3 !== undefined && user.session3 !== '')
              p Enrollment for sessions is closed. You signed up for the following sessions:
              ul#enrollment-sessions
                +fixedEnrollment("Session 1", speakerids.session1, user.session1)
                +fixedEnrollment("Session 2", speakerids.session2, user.session2)
                +fixedEnrollment("Session 3", speakerids.session3, user.session3)
            else
              p Enrollment for sessions is closed.
        else
          p You can enroll for sessions on a later date.

    if user.type === 'student'
      .mb-4
        h4 Companies
        p
          | To allow you to connect better with companies, we introduce a badge scanning system
          | which allows you to share your name, email address, and study programme. You can share this
          | information with a company by letting them scan your badge.
          | However, we only share this information with your permission.

        .mb-4.mx-5.form-check
          input#allowBadgeScanning.form-check-input(type='checkbox', name='allowBadgeScanning', checked=user.allowBadgeScanning? "checked": undefined)
          label.form-check-label(for='allowBadgeScanning')
            | Allow my badge to be scanned by companies

        p
          | To allow students to get to know companies better, we offer several
          | speed dating sessions with the participating companies. When you sign up for speed dating,
          | you will get private conversation of around 5 minutes with each participating company.
          | There are 6 participating companies in total:
          ul#speeddate-companies
            li to fill in

        if spTimeSlot
          p You are signed up for speed dating in timeslot: #[b=spTimeSlot.name]
        else if allSpTimeSlots.length > 0
          if freeSpTimeSlots.length > 0
            p
              | You can sign up for speed dating by choosing a timeslot below and
              | pressing the 'Save settings' button.
            br
            label(for='speedDateTimeSlot') Select speed date timeslot:
            .select-wrapper
              select.form-control(id='speedDateTimeSlot', name='speedDateTimeSlot')
                option(value='', selected) Select...
                for ts in freeSpTimeSlots
                  option(value=ts.id)=ts.name
          else
            p
              b Unfortunately, there are no more free speed date timeslots.
        else
          p You can select the timeslots for speed dating on a later date.


    if userHasBus
      .mb-4
        h4 Bus
        p
          | For some study associations which are further away from the location,
          | we offer a bus which will bring you to the location and back to your city after the conference.
        .mb-4.mx-5.form-check
          input#bus.form-check-input(type='checkbox', name='bus', checked=user.bus ? "checked" : undefined)
          label.form-check-label(for='bus')
            | I would like to use the arranged bus at my study association

    .mb-4
      h4 Diets
      p
        | You can alter your diet preferences here
      .mb-3.mx-5.form-check
        input#vegetarian.form-check-input(type='checkbox', name='vegetarian', checked=user.vegetarian? "checked": undefined)
        label.form-check-label(for='vegetarian')
          | I am a vegetarian

      .mb-4.mx-5
        input#specialNeeds.form-control(type='text', name='specialNeeds', placeholder='Other remarks (e.g. veganism, allergies)', value=user.specialNeeds)

    button.btn.btn-primary.mt-3(type='submit') Save settings


