extends inclusion

mixin dropdown(speaker, user, session, visitorCounts)
  - var description = (!speaker.company || speaker.company === '') ? '' : ' (' + speaker.company + ') '
  - description = description + ' - ' + speaker.subject.replace(" \</br\>", ":")
  - var remaining = speaker.limit - visitorCounts.filter(candidate => speaker.id == candidate.id)[0].count
  if remaining > 0 || user[session] == speakerid
    if remaining < 25
      - description = description + ' (' + remaining + ' seats left)'
    option(value=speaker.id, selected=user[session] == speaker.id ? 'selected' : undefine)= speaker.name.replace("</br>", "&") + description
  else
    - description = description + ' (FULL)'
    option(disabled value=speaker.id, selected=user[session] == speaker.id ? 'selected' : undefine)= speaker.name.replace("</br>", "&") + description


mixin fixedEnrollment(session, sessionids, selectedSpeakerId)
  each speakerid in sessionids
    if speakerid === selectedSpeakerId
      - var speaker = speakers.filter(function(doc){return doc.id == speakerid})[0]
      - var description = (!speaker.company || speaker.company === '') ? '' : ' (' + speaker.company + ') -'
      - description = description + speaker.subject.replace(" \</br\>", ":")
      li #{session}:
        b #{'  ' + description}

block page-content
  .mb-5
    h2= ucfirst(user.firstname) + ' ' + user.surname +' ('+ associations[user.association].name +')'

  form#settings(method='post', action='/profile')
    .mb-4
      h4 Tickets
      p
        | Download your ticket #[a(href='/ticket', target='_blank') here].
        br
        | Please bring it along to the conference on your phone or in print.

    if user.type === 'student'
      .mb-4
        h4 Companies
        p
          | To allow you to connect better with companies, we introduce a badge scanning system
          | which allows you to share your name, email address, and study programme. You can share this
          | information with a company by letting them scan your badge.
          | However, we only share this information with your permission.

        .mb-4.form-check
          input#allowBadgeScanning.form-check-input(type='checkbox', name='allowBadgeScanning', checked=user.allowBadgeScanning? "checked": undefined)
          label.form-check-label(for='allowBadgeScanning')
            | Allow my badge to be scanned by companies
        p
          | We also allow companies to send you informtion regardless of they scanned you badge if you give them 
          | permission. 
      
      .mb-4.form-check
        input#shareInfo.form-check-input(type='checkbox', name='shareInfo', checked=user.shareInfo ? "checked" : undefined)
        label.form-check-label(for='shareInfo')
          | Allow my email to be shared with companies after the congress.

    if userHasBus
      .mb-4
        h4 Bus
        p
          | For some study associations which are further away from the location,
          | we offer a bus which will bring you to the location and back to your city after the conference.
        .mb-4.form-check
          input#bus.form-check-input(type='checkbox', name='bus', checked=user.bus ? "checked" : undefined)
          label.form-check-label(for='bus')
            | I would like to use the arranged bus at my study association

    .mb-4
      h4 Diets
      p
        | You can alter your diet preferences here
      .mb-3.form-check
        input#vegetarian.form-check-input(type='checkbox', name='vegetarian', checked=user.vegetarian? "checked": undefined)
        label.form-check-label(for='vegetarian')
          | I am a vegetarian

      .mb-4
        input#specialNeeds.form-control(type='text', name='specialNeeds', placeholder='Other remarks (e.g. veganism, allergies)', value=user.specialNeeds)

    button.btn.btn-primary.mt-3(type='submit') Save settings
