extends normal_page

block page-content
  if new Date(ticketSaleStarts).getTime() < Date.now()
    form.text-center
      legend(hidden) Registration
      h2 Register
      p
        | You can buy a ticket with an activation code at your study association. You can print out your ticket after you&apos;ve registered. Preferences for lectures, diets and other remarks can be changed after the registration has been completed.
      .row
        .col-12.col-md-6
          .mb-3
            input#code.form-control(type='text', name='code', required, placeholder='Ticket code' value=body.code)
          .mb-3.input-group
            input#firstname.form-control(type='text', name='firstname', required, placeholder='First name', value=body.firstname)
            input#surname.form-control(type='text', name='surname', required, placeholder='Last name', value=body.surname)
          .mb-3
            input#email.form-control(type='email', name='email', required, placeholder='Email', value=body.email)
          .mb-3
            input#password.form-control(type='password', name='password', required, placeholder='Password')
          .mb-3
            input#confirmPassword.form-control(type='password', name='confirm', required, placeholder='Confirm password')
        .col-12.col-md-6
          .mb-3
            select#association.form-control(required, name='association')
              option(value='', selected, disabled) Select association...
              each vereniging, shortName in verenigingen
                option(value=shortName, selected = body.vereniging === shortName ? 'selected': undefined)=vereniging.name
          .mb-3.form-check#bus-form-group(style='display:none')
            input#bus.form-check-input(type='checkbox', name='bus', checked=body.bus?'checked': undefined)
            label.form-check-label(for='bus')
              | I would like to use the arranged bus at my study association
          .mb-3
            select#programme.form-control(required, name='programme')
              option(value='', selected, disabled) Select study programme...
              each programme in studyProgrammes
                option(value=programme, selected = body.programme === programme ? 'selected': undefined)=programme
              option(value="other" id="study-programme-other", selected = body.programmeOther ? 'selected': undefined) Other
          .mb-3#programme-other-group(style='display:none')
            input#programme-other.form-control(type='text', name='programmeOther', placeholder='Other study programme', value=body.programmeOther)
          .mb-3#company-name-group(style='display:none')
            input#company-name.form-control(type='text', name='companyName', placeholder='Company name', value=body.companyName)
          .mb-3.form-check
            input#vegetarian.form-check-input(type='checkbox', name='vegetarian', checked=body.vegetarian? "checked": undefined)
            label.form-check-label(for='vegetarian')
              | I am a vegetarian
          .mb-3
            input#specialNeeds.form-control(type='text', name='specialNeeds', placeholder='Other remarks (e.g. veganism, allergies)')
          .mb-3.form-check
            input#subscribe.form-check-input(type='checkbox', name='subscribe', checked)
            label.form-check-label(for='subscribe')
              | Subscribe for the mailinglist. We will mail you when you can enroll for sessions and last minute practical information. (You can deregister at any moment)
          .mb-3.form-check
            input#privacyPolicy.form-check-input(type='checkbox', name='privacyPolicyAgree', required, checked=body.privacyPolicyAgree? "checked" : undefined)
            label.form-check-label(for='privacyPolicy')
              | I agree with the
              a(href='/Privacy_Policy.pdf', target='_blank') Privacy Policy
      button.btn.btn-primary.mt-3(type='submit') Register now
  else
    .alert.alert-info
      .icon.fa.fa-info
      - months = ['January', 'February', 'March', 'April', 'May','June','July','August', 'September','November','December'];
      div= 'You can activate your ticket here from ' + new Date(ticketSaleStarts).getDate() + ' ' + months[new Date(ticketSaleStarts).getMonth()] + ' onwards!'

block footer
  if new Date(ticketSaleStarts).getTime() < Date.now()
    script(type="text/javascript").
      var verenigingen = !{JSON.stringify(verenigingen)};
      var bus = $("#bus-form-group");

      function updateVisibility() {
        var index = $("#association").val();
        var vereniging = verenigingen[index];
        if (vereniging && vereniging.bus)
          bus.show();
       else
          bus.hide();

        var isPartner = vereniging && vereniging.name === 'Partner'
        if (isPartner) {
          $("#company-name-group").show();
          $("#company-name").prop("required", true);
          $("#programme-group").hide();
          $("#programme-other-group").hide();
          $("#programme").prop("required", false);
        } else {
          $("#company-name-group").hide();
          $("#company-name").prop("required", false);

          $("#programme-group").show();
          $("#programme").prop("required", true);

          if ($("#programme").val() === 'other') {
            $("#programme-other-group").show();
            $("#programme-other").prop("required", true);
          } else {
            $("#programme-other-group").hide();
            $("#programme-other").prop("required", false);
          }
        }
      }

      $(document).ready(function () {
        $("#association").on('change', updateVisibility);
        $("#programme").on('change', updateVisibility);

        updateVisibility();
      });

