extends inclusion

block page-content
    h1.mt-3 Timetable
    for session, s_idx in timetable
        .card-group.my-5
            - var event_with_picture = session.events.findIndex((event) => event.picture !== undefined) !== -1
            for event, e_idx in session.events
                if event.enabled
                    if event.empty
                        .card.card-empty
                    else
                        - var talks_session = session.events.filter(el => el.speakerId).map(el => el.speakerId)
                        .card(
                            id=event.speakerId?'e-'+event.speakerId+"-card":"" 
                            class=(talks_session.some(el => talkEnrollments.includes(el)) && !talkEnrollments.includes(event.speakerId))?"":"chosen"
                            class=talks_session.length > 0?"choosable":"")
                            .card-header
                                small.text-muted= session.startTime + " - " + session.endTime
                            if event.picture
                                img.card-img-top(src=event.picture, alt="image for " + event.title, height="200px")
                            else if event_with_picture
                                img.card-img-top(src="/img/resilit.jpg" alt="placeholder image for talk" height="200px")
                            .card-body
                                h5.card-title= event.title
                                if event.content
                                    p.card-text= event.content
                                else if event.speakerId
                                    p.card-text= speakers.speakers[event.speakerId].talk[0]
                            if event.speakerId
                                .card-footer.card-footer-transparent
                                    if speakers.speakers[event.speakerId].talk
                                        button.btn.btn-primary.m-1(data-bs-toggle="modal" data-bs-target='#s' + s_idx + '-' + e_idx + '-abstract-modal')
                                            i.fas.fa-angle-right.me-2
                                            | Read more
                                    if speakers.speakers[event.speakerId].bio
                                        button.btn.btn-primary.m-1(data-bs-toggle="modal" data-bs-target='#s' + s_idx + '-' + e_idx + '-bio-modal')
                                            i.fas.fa-user-alt.me-2
                                            | About
                                    if user && enrollmentPossible && event.speakerId && speakers.speakers[event.speakerId].limit !== undefined
                                        button.btn.btn-primary.m-1(style=talkEnrollments.includes(event.speakerId)?"":"display: none;" id=event.speakerId+"-unenroll" onclick="unenrollClick('" + event.speakerId + "')")
                                            i.fas.fa-angle-right.me-2
                                            | Unenroll
                                        button.btn.btn-primary.m-1(style=talkEnrollments.includes(event.speakerId)?"display: none;":"" id=event.speakerId + "-enroll" onclick="enrollClick('" + event.speakerId + "')")
                                            i.fas.fa-angle-right.me-2
                                            | Enroll
                                if event.speakerId && speakers.speakers[event.speakerId].limit !== undefined
                                    br
                                    small.text-muted(id=event.speakerId + "-capacity")= "Capacity " + talkCapacity[event.speakerId] + "/" + speakers.speakers[event.speakerId].limit
                            if event.location
                                .card-footer
                                    small.text-muted= event.location
