extends inclusion

block page-content
    h1.mt-3 Timetable
    for session, s_idx in timetable
        .card-group.my-5
            for event, e_idx in session.events
                if event.enabled
                    if event.empty
                        .card.card-empty
                    else
                        .card.chosen
                            .card-header
                                small.text-muted= session.startTime + " - " + session.endTime
                            if event.picture
                                img.card-img-top(src=event.picture, alt="image for " + event.title, height="200px")
                            .card-body
                                h5.card-title= event.title
                                if event.content
                                    p.card-text= event.content
                                if event.speakerId
                                    button.btn.btn-primary.m-1(data-bs-toggle="modal" data-bs-target='#s' + s_idx + '-' + e_idx + '-abstract-modal')
                                        i.fas.fa-angle-right.me-2
                                        | Read more
                                    button.btn.btn-primary.m-1(data-bs-toggle="modal" data-bs-target='#s' + s_idx + '-' + e_idx + '-bio-modal')
                                        i.fas.fa-user-alt.me-2
                                        | About
                                if event.speakerId && speakers.speakers[event.speakerId].limit
                                    br
                                    small.text-muted= "Capacity " + speakers.speakers[event.speakerId].limit
                            if event.location
                                .card-footer
                                    small.text-muted= event.location
