extends normal_page

block page-content
    .text-center.timetable
        h2 Schedule
        for session in timetable
            .card-group.my-5
                for event in session.events
                    if event.enabled
                        if event.empty
                            .card.card-empty
                        else
                            .card.chosen
                                .card-header
                                    small.text-muted= session.startTime + " - " + session.endTime
                                if event.picture
                                    img.card-img-top(src=event.picture, alt="image for " + event.title, height="200px")
                                .card-body
                                    h5.card-title= event.title
                                    if event.content
                                        p.card-text= event.content
                                if event.location
                                    .card-footer
                                        small.text-muted= event.location
